body {background-color: lightgray}


.carousel-wrapper {

	width: min(66.6667vw, 1200px);
	max-width: 100%;
	margin: 2rem auto;
}


.carousel-wrapper .carousel-item img {
	width: 100%;
	height: auto;
	max-height: 70vh;
	object-fit: contain;
	display: block;
	image-rendering: auto; 
}

/* imagenens responsivas */
img,
.card-img-top,
.product-img,
.carousel-inner img {
	max-width: 100%;
	height: auto;
	display: block;
}

/* responsividad para las imágenes de las cards de producto */
.product-img{
	width:100%;
	height:160px; /* conserva altura de diseño */
	object-fit:cover;
	border-radius:8px;
}


@media (max-width: 576px) {
	.carousel-wrapper {
		width: 95vw;
		margin: 1rem auto;
	}
}

